{% extends 'baseTemplate/base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        <input type="text" name="title">
        <input type="text" name="description">
        <input type="text" name="price">
        <input type="text" name="summery">
        <input type="submit" value="Add">
    </form>
{% endblock %}