{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} {% endblock %}
    </title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>